{% extends 'main/index.html' %}

{% block title %}Delete - {{ post.title }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<h3>Delete Post</h3>
<br/>
<div class="form-group">
    <form method="post">
    {% csrf_token %}
        <h4>Are you sure you want to delete "<b>{{ post.title }}</b>"?</h4>

        <hr>

        <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-dark">Go Back</button></a>
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
{% else %}
<h3>Sorry, you can only delete the posts you <a href="{% url 'add-post' %}">write</a>!</h3>
<hr>
<a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn btn-outline-dark">Go Back</button></a>
{% endif %}
{% endif %}
{% endblock %}